<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <title>DATE</title>

</head>
<body>

<footer id="sectiune_date_contact">
    <p id="date_contact"><b>DATE DE CONTACT</b></p>
    <div class="date">
        <p class="paragraf">Ion Alexandra</p>
        <p class="paragraf">Email: alexandra.ion@s.unibuc.ro</p>
        <p class="paragraf">Facultatea de Matematica si Informatica, Universitatea Bucuresti</p>
    </div>
</footer>
<style>
    #sectiune_date_contact{
margin-top: 100px;
color: ghostwhite;
text-align: center;
border-bottom: 10px solid #aff67b;
border-top: 5px solid #aff67b;
border-left: 5px solid #aff67b;
border-right: 5px solid #aff67b;
border-radius: 15px;
}
.paragraf::before{
content: "Datele mele -> ";
color: #aff67b;
}
</style>

</body>
</html>
